
<div class="container" id="header">
    <div class="row">
        <div class="col-xs-2">
            <div class="home_button">
                <a id="home-link" href="/"><i id="home-icon" class="fa fa-home fa-lg" style="vertical-align: middle;" alt="Search" href="/"></i></a>
            </div>
        </div>
        <div class="col-xs-8">
            <div class="title">
            	<span id="header-name">StuddyBuddy</span>		
            </div>
        </div>
        <div class="col-xs-2">
            {{#if username}}
                <div class="logout">
                    Hi {{username}} <a href="/logout" >Logout</a>
                </div>
            {{/if}}
        </div>
    </div>
</div>
