
<div class="container" id="header">
    <div class="row">
        <div class="col-xs-4">
            {{#if username}}
            <div class="icon">
                <a class="nav-link" href="/"><i class="fa fa-home fa-med nav-icon" alt="Home"></i></a>
            </div>
            <div class="icon">
                <a class="nav-link" href="/search"><i class="fa fa-search fa-med nav-icon" alt="Search"></i></a>
            </div>
            <div class="icon">
                <a class="nav-link" href="/matches"><i class="fa fa-users fa-med nav-icon" alt="Matches"></i></a>
            </div>
            {{/if}}
        </div>
        <div class="col-xs-4">
            <div class="title">
<<<<<<< HEAD
            	<span id="header-name">StuddyBuddy</span>
=======
            	<span id="header-name">StuddyBuddy</span>		
>>>>>>> a7811ee9aefb96aec966daae3ebc73d153e3ebc5
            </div>
        </div>
        <div class="col-xs-4">
            {{#if username}}
                <div class="logout">
                    <!-- {{username}} -->&nbsp;&nbsp;<a class="nav-link" href="/logout"><i class="fa fa-sign-out fa-lg nav-icon" alt="Logout"></i></a>
                </div>
            {{/if}}
        </div>
    </div>
</div>
