<div class="container" id="header">
    <div class="row">
            <div class="col-xs-12">
                <div class="home_button">
                	<a id="home-link" href="/"><i id="home-icon" class="fa fa-home fa-lg" style="vertical-align: middle;" alt="Search" href="/"></i></a>
				</div>
                <div class="title">
                	<span id="header-name">StuddyBuddy</span>		
                </div>
                
            </div>
        </div>
    </div>
<!-- <div class="header">
	<div class="wrap">
		<div class="icon fa fa-home fa-lg">
			&nbsp;
		</div>
		<div class="title">
			StuddyBuddy
		</div>
	</div>
</div> -->