



#header {
    background-color: #2a6496;
    padding: 8px 10px;
    font-family: 'Helvetica Neue';
    font-weight: lighter;
    font-size: 18px;
    color: whitesmoke;
}

#main-content {
    background-color:  whitesmoke;
    padding: 15px 10px 10px 10px;
    min-height: 340px;
    font-family: 'Helvetica Neue';
    font-weight: lighter;
    font-size: 16px;
}

.action-thumbnail {
    text-align: center;
}

.main-nav-icon {
    width: 110px;
}

.profile-box {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: whitesmoke;
    padding: 50px 5px;
}

.profile-box ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px 0px 0px 30px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}


/*.profile-icon {
    height: 80px;
}*/